<h1>Create a Traveler</h1>

<%= form_for @traveler do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %> <br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %> <br>

    <%= f.label :dob %>
    <%= f.text_field :dob %> <br>

    <%= f.label :hometown %>
    <%= f.text_field :hometown %>

    <%= f.submit %>

<% end %>